body {
    background-color: #61D1FD;
}

#button-container { 
    display: flex;
    margin: auto;
    height:60vh;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #48304D;
}

.title { 
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 30px
}

.rps-button {
    flex-shrink: 1;
    font-size: 50px;
    height: 100px;
    width: 100px;
    align-self: center;
    border: 5px solid #F08CAE;
    border-radius: 25px;
    background-color: #9AE2FE;
    color: #F08CAE;
    transition: 0.1s;
}

.clicked {
    scale: 1.1;
    border:2px solid palevioletred;
    box-shadow: 3px 3px palevioletred;
}

